.env
ecommerce_pipeline/profiles.yml
ecommerce_pipeline/logs/
ecommerce_pipeline/target/
ecommerce_pipeline/dbt_packages/
ecommerce_pipeline/.user.yml
__pycache__/
*.pyc
venv/
airflow/logs/
.last_run
passwords.txt
ecommerce_pipeline/.user.yml
ingestion/.last_run
logs/
.last_run/
.logs